.mainWrapper {
  flex: 1;
}

.avaWrapper {
  position: relative;
  width: 100vw;
  height: 100vw;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 50%;
}

.ava {
  position: relative;
  width: 100%;
  top: -80px;
}